<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Леночка) Улыбайся чаще! </title>
    <meta name="keywords" content="Думать веселее и мыслить позитивно" />
    <meta name="description" content="Совсем скоро тут будет новая сказка-квест, в которой ты сможешь учавствовать" />
    <style>
        body {
            background: url(https://pp.vk.me/c543100/v543100187/1c074/UAGwwMy7Mmk.jpg) no-repeat;
            -moz-background-size: 100%; /* Firefox 3.6+ */
            -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
            -o-background-size: 100%; /* Opera 9.6+ */
            background-size: 100%; /* Современные браузеры */
        }
    </style>
</head>
<body>
</body>
</html>