
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Сказки для детей на ночь читать, сказки народов мира детские онлайн</title>
    <meta name="keywords" content="сказка, сказки народов мира, тысяча и одна ночь, дети, сказки детям, сказки для детей, читать, онлайн, слушать, детям, на ночь" />
    <meta name="description" content="Сказки народов мира тысяча и одна ночь, эти удивительные творения представлены на нашем сайте, для вас и ваших детей" />
    <link rel="stylesheet" type="text/css" href="http://azku.ru/st/main.css" />
    <link rel="shortcut icon" href="http://azku.ru/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="http://azku.ru/" /><script type="text/javascript">
    var baseurl = 'http://lenocka.cf';
</script>
    <script type="text/javascript" src="http://yandex.st/jquery/1.10.2/jquery.min.js"></script>
    <script language="JavaScript" src="http://azku.ru/st/default3.js" type="text/javascript"></script>
    <script type="text/javascript">$(function(){ $("#content").addtocopy({ htmlcopytxt: '<br>Источник: <a href="'+window.location.href+'">'+window.location.href+'</a>' });	})</script>
</head>
<body>
<div id="content">
СКОРО ТЫ ВСЕ УЗНАЕШЬ!!!
</div>
<div id="bg">
    <div id="all">
        <div id="logo"><a href="http://lenocka.cf" title="Сказки для детей"></a></div>
        <div class="br"></div>
        <div id="top"></div>
        <div class="br"></div>
        <div id="content">
            СКОРО ТЫ ВСЕ УЗНАЕШЬ!!!
        </div>
    <div id="footer">
    </div>
</div>
</body>
</html>








